/* 在styles.css文件中定义样式 */
body {
    background-color: #ffffff;
    /*背景颜色*/
    font-family: 微软雅黑；
        /*字体样式*/
}

h1 {
    color: rgb(37, 76, 195);
    /*字体颜色*/
    font-family: "Monospace", sans-serif;
    /*字体样式*/
}

.gusi {
    width: 50%;
    /* 设置宽度为40% */
    /*height: 52.8%;*/
    /* 设置高度为52.8% */
    margin: 60px auto;
    /* 居中 */
    background-color: rgba(160, 197, 222, 0.871);
    /* 设置段落背景色为色 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border: 1px solid rgb(0, 0, 0);
    /* 为段落设置1像素宽的红色虚线边框 */
    /* solid 实线边框，dashed 虚线边框，dotted 点线边框 */
    padding: 0px;
    /* 为段落内容与边框间添加10像素的内边距 */
    padding: 20px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border-radius: 10px;
    /* 设置圆角半径 */
    font-size: 10px;
    /*字体大小*/
    text-align: center;
    /*文字居中*/
}

.title {
    font-size: 50px;
    /*字体大小*/
}

.als-bbkb img {
    max-width: 190%;
    /* 图片大小为190% */
}

@media only screen and (max-width: 1080px) {
    .gusi {
        width: 90%;
        /* 设置宽度为90% */
        /*height: 32.8%;*/
        /* 设置高度为48.9% */
        font-size: 15px;
        /*字体大小*/
        border-radius: 40px;
        /* 设置圆角半径 */
    }

    .zd h1 {
        font-size: 40px;
        /*体大小*/
    }

    .zd1 img {
        width: 350px;
        /* 设置宽度为350px */
        height: 200px;
        /* 设置高度为200px */
    }

    .title {
        font-size: 60px;
        /*字体大小*/
    }

    .als-bbkb img {
        max-width: 285%;
        /* 图片大小为285% */
        margin: -58px 0px;
    }

}

body {
    /* 使背景图片居中显示 */
    background-position: center center;
}

.zd {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(0, 204, 255, 0.7)80%);
    /* 设置背景为线性渐变 */
    margin: -8px -8px;
    /* 外边距 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    padding: 0px;
    /* 为段落内容与边框间添加10像素的内边距 */
}

.phira {
    color: rgb(198, 23, 23);
    background-color: rgb(222, 160, 160);
    /* 设置段落背景色为色 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border-radius: 10px;
}

.als {
    color: rgb(23, 163, 198);
    background-color: rgb(5, 249, 212);
    /* 设置段落背景色为色 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border-radius: 10px;
}

.wxt {
    color: rgb(220, 156, 59);
    background-color: rgb(163, 201, 67, 0.871);
    /* 设置段落背景色为色 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border-radius: 10px;
}

.xyx {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.871);
    /* 设置段落背景色为色 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border-radius: 10px;
}

.A439 {
    color: rgb(20, 15, 172);
    background-color: rgb(17, 80, 216);
    /* 设置段落背景色为色 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border-radius: 10px;
}

.yyq {
    color: rgb(172, 15, 15);
    background-color: rgb(216, 146, 17);
    /* 设置段落背景色为色 */
    padding: 5px;
    /* 可选：添加内边距，使背景色区域更明显 */
    border-radius: 10px;
}

.fixed-image {
    /*之后删除钢管时删除*/
    background-color: rgb(216, 146, 17);
    /* 设置段落背景色为色 */
    border-width: 0;
    /* 边框宽度设为0 */
    border-radius: 10px;
}

.alsqd {
    background-color: rgba(216, 146, 17, 0);
    /* 设置段落背景色为色 */
    border-width: 0;
    /* 边框宽度设为0 */
    border-radius: 10px;
}