.bodya {
    width: 400px;
    margin: 100px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.521);
    padding: 20px;
    border-radius: 10px;
}

.game {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.zy {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 25px;
}

@media (max-width: 600px) {
    .bodya {
        width: 90%;
    }
}
