.topnav {
    background-color: #2f81ed;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: rgb(255, 255, 255);
}


.千禧年科技学院 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.研讨会 {
    text-align: center;
    background-color: rgb(30, 111, 232);
    border-radius: 10px;
}

.游戏开发部 {
    text-align: center;
    background-color: rgb(236, 240, 18);
    border-radius: 10px;
}

.C {
    text-align: center;
    background-color: rgb(18, 196, 240);
    border-radius: 10px;
}

.阿拜多斯学院 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.对策委员会 {
    text-align: center;
    background-color: rgb(255, 34, 233);
    border-radius: 10px;
}