.topnav {
    width: 80%;
    background-color: #2f81edc9;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
}

.topnav-right {
    height: 480px;
    overflow-y: auto;
    border-radius: 10px;
}

@media screen and (max-width: 1080px) {
    .topnav {
        width: 90%;
        border-radius: 40px;
    }

    .topnav-right {
        height: 1000px;
        border-radius: 40px;
    }

    .content .fa-cog {
        width: 80px;
        height: 80px;
    }

    .topnav-right .学院 {
        border-radius: 40px;
    }

    .topnav-right .h3bt {
        border-radius: 40px;
        width: 419px;
        height: 314px;
        margin: 10px;
    }

    p {
        font-size: 40px;
    }

    h1 {
        font-size: 60px;
    }

    .topnav-right h2 {
        font-size: 50px;
        margin: 40px 20px;
    }

    .topnav-right h3 {
        font-size: 40px;
    }

    .topnav-right a {
        font-size: 35px;
    }

    .topnav-right .h4bt {
        height: 80px;
        border-radius: 40px;
        margin: 5px;
    }

    .topnav-right .tp {
        width: 70px;
        height: 70px;
        margin: 4px 7px;
    }

    .topnav-right .h4bt:hover {
        border-radius: 40px;
    }
}

.fa-cog {
    float: right;
    margin: 0px 20px;
    width: 50px;
    height: 50px;
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(255, 255, 255);
}

h3 {
    color: #ffffff;
}

.h3bt {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.277);
    border-radius: 10px;
    width: 200px;
    height: 172px;
    margin: 10px 5px;
    overflow-y: auto;
    display: inline-block;
}

.h4bt {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.277);
    text-align: center;
    border: 1px solid rgb(168, 152, 152);
    border-radius: 20px;
    margin: 2px;
    display: flex;
    align-items: center;
    text-align: center;

    transition: width 2s, height 2s, transform 1s;
}

.h4bt:hover {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0);
    border-radius: 20px;
    transform: rotate(360deg);
}

.tp {
    width: 39px;
    height: 39px;
    border-radius: 100px;
    margin: 4px 3px;
    border: 1px solid rgba(0, 0, 0, 0.500);
}

.学院 {
    background-color: rgba(255, 255, 255, 0.277);
    border-radius: 10px;
}

#m1 {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#m1:hover {
    text-decoration: underline;
    color: #00fbff;
}

a {
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(0, 102, 255);

}